<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>

             <pattern>%green(%d{yyyy-MMM-dd  HH:mm:ss.SSS}) %-5level %yellow([%thread]) %green(LOG_EVENT=%X{LOG_EVENT}) %red(TRACE_ID=%X{X-B3-TraceId}) %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">

        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="consoleAppender" />

    </appender>

    <logger name="com.github.tomakehurst.wiremock" level="DEBUG" additivity="false"/>





    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>

</configuration>
